{#
/**
 * @file
 * Theme suggestion for "submit" input form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - label: button label, added by obio_preprocess_input__submit().
 *
 * @ingroup templates
 */
#}
<button{{ attributes }}>{{ label }}</button>{{ children }}
