//
// @file
// Atomic helper classes for Obio Theme.
//


@mixin make-rhythm($unit: 1, $name: '') {
  @if $name != '' {
    $name: '-#{$name}';
  }

  .rhythm#{$name} {
    margin-top: $global-lineheight * $unit * 1rem;
    margin-bottom: $global-lineheight * $unit * 1rem;

    @at-root #{&}--top {
      margin-top: $global-lineheight * $unit * 1rem;
    }

    @at-root #{&}--bottom {
      margin-bottom: $global-lineheight * $unit * 1rem;
    }
  }
}

.color-inverse {
  color: $white;
  background: $black;
}

.cart-border-top {
  border-top: 2px solid $light-gray;
}

.button.transparent {
  background: none;
  color: $anchor-color;
  padding: 0;
  border: 0;

  &:focus,
  &:hover {
    color: $anchor-color-hover;
  }
}

.obio-back {
  &::before {
    display: inline-block;
    content: '\2190';
    margin-right: 0.25rem;
    transform: scale(1.5);
  }
}

.text-bold {
  font-weight: bold;
}

@include make-rhythm(1);
@include make-rhythm(2, 'double');
@include make-rhythm(3, 'triple');

.quickview-link .ajax-progress {
  position: absolute;
}
